.ul2{
    display: flex;
    gap: 20px;
    background-color:#1A4194;
}
.imggg{
    height: 40px;
    width: 40px;
}
.f1{
    background-color:#1A4194;
    color: white;
}
.complete{
    background-color: #1A4194;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 60px;
    border-radius: 20px 20px 0 0;

}
li{
    list-style: none;
    cursor: pointer;
    justify-content: space-around;
}
h3{
    font-size: 10px;
}
.whole{
    background-color:#1A4194;
}
.subs{
    justify-items: center;
    background-color: #1A4194;
color: white;
}
.f2{
    background-color: #1A4194; 
    color: white;
}
