.product-form{
    width: 350px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin: auto;
 
    gap: 15px;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-bottom: 50px;

}

.file-area{
    width: 300px;
    
    font-size: 18px;
   
    padding-top: 10px;
    padding-left: 10px;
    background-color: #fff;
   margin-right: 5px;
}
.form-control{
    width: 300px;
    
    margin: 10px;
}

.submit{
    color: white;
    background-color:#FF3300 ;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    width: 200px;
    height: 45px;
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
    display: block;
    margin: auto;
    margin-top: 10px;

}

.label-form{
    font-size: 20px;
   
}