

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin: auto;
    margin-top: 100px;
   
}

.form-input-category{
    resize: none;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 10px rgb(235, 232, 232);
    padding-top: 10px;
    width:450px;
    height: 50px;
    font-size: 20px;
   

}

.create-category-form{
    width: 350px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 500px;
    height: 200px;
    gap: 15px;
    padding-bottom:5px;
    margin-bottom: 10px;
   
}

form input{
    border-radius: 20px;
    border: none;
    height: 40px;font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 10px rgb(235, 232, 232);
    padding-left: 20px;
    margin-top: 5px;
}

.submit-category{
    cursor: pointer;
    color: white;
    background-color:#FF3300 ;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    width: 200px;
    height: 50px;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 100px;
}


form div{
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
}

.label-form{
   font-size: 30px;
    margin-left: 5px;
}

.success{
    background-color: #6cfc9e;
    font-size: 25px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.error{
    background-color: #FF6263;
    font-size: 25px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}