.update-btn{
    background-color: #22CB5C;
    width: 100px;
    height: 40px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.delete-btn-manage-product{
    background-color: #FF3300;
    width: 100px;
    height: 40px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    font-weight: 550;
    cursor: pointer;
    margin-top: 10px;
}

.image-container{
    display: block;

    width: 340px;
    border: 2px solid black;
    margin: auto;
 
    padding-top: 10px;
    padding-bottom: 10px;
    
    border-radius: 10px 10px 0 0;
    background-color: #000000;
}

.product{
    width: fit-content;
   
   background-color: #ffffff;
   height: fit-content;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    
}

.grid-collection-product{
    display: grid;
    grid-template-columns: minmax(10px,1fr)  minmax(10px,1fr)  minmax(10px,1fr); 
    row-gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    justify-items: center;
    
    
}
