body{
    font-family: 'Explora', cursive;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
.logo-img{
    width: 150px;
    height: 60px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    left: 10px
};

.li-items{
    list-style: none;
    text-decoration: none;
  

}

.container-menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
   
}

nav{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   position: relative;
   bottom: 10px;
}
.nav-header{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 20px;
justify-content: space-between;
/* margin-left: 250px; */
}
.li-items1{
    list-style: none;
    margin-left: 90px;
    display: flex;
    gap: 30px;
}
.nav-links{
    text-decoration: none;
    list-style: none;
    color: #0A3F69;
   
    display: block;
}
.nav-links:hover{
color:#86C540;
text-decoration: underline;

}

.faq-ans{
    color: black;
}
