/* body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
.logo-img{
    width: 100px;
    height: 30px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    
};

.li-items{
    list-style: none;
    text-decoration: none;
   

}
.li-items:hover{
    background-color: rgb(255, 255, 49);
   
    width: fit-content;
    height: fit-content;
    padding: 2px;
    border-radius: 10px;
}

.container-menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 65, 148);
   
}

nav{
   display: flex;
   justify-content: space-between; 
}
.nav-header{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 20px;
justify-content: space-between;
/* margin-left: 250px; */
}
.li-items1{
    list-style: none;
    margin-left: 90px;
    display: flex;
    gap: 30px;
}
.nav-links{
    text-decoration: none;
    list-style: none;
    color: white;
    display: block;
}
.nav-links:hover{
color: black;
}
