*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Explora', cursive;
font-family: 'Poppins', sans-serif;
 background-color: rgb(240,244,245);
 font-family: 'Explora', cursive;
font-family: 'IBM Plex Sans', sans-serif;

}

header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

nav ul{
    margin-top: 20px;
    display: flex;
    list-style: none;
    gap: 3em;
}

nav li a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
   
}

textarea{
    resize: none;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 10px rgb(235, 232, 232);
    padding-top: 10px;
}

form{
    width: 350px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    gap: 15px;
    margin-bottom: 10px;
   
}

form input{
    border-radius: 20px;
    border: none;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 10px rgb(235, 232, 232);
    padding-left: 20px;
    margin-top: 5px;
}

form button{
    
    color: white;
    background-color:#20BC7E ;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    width: 200px;
    height: 50px;
    margin: auto;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
}


form div{
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
}

form h1{
    margin: auto;
    font-size: 2.5em;
}
form{
    /* display: block; */
    font-family: 'Poppins', sans-serif;
    margin: auto;
    margin-top: 50px;
}
